body {
  background-color: #2a2c2f;
}

* {
  box-sizing: border-box;
  margin: 0;
}
.page {
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: white;
}
