.photogrid {
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: 213px 213px;
  gap: 13px;
  margin: auto;
  max-width: 1184px;
}
.photogrid__image {
  max-width: 284px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .photogrid {
    max-width: 768px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 24px;
  }
  .photogrid__image {
    max-width: 352px;
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .photogrid {
    grid-template-columns: 288px;
    grid-template-rows: repeat(8, 216px);
    gap: 12px;
    padding: 16px;
  }
}
